@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Mr+Dafoe');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&subset=korean');

/*#########################################################60
* SBa02Contents
*##########################################################
* Main Layout
* Sub Layout
* Main Contents
* Sub Contents
*========================================================*/
/*=========================================================
* Main Layout
*========================================================*/
#main-contents-1st {}

#main-contents-2nd {
  padding-top: 6em;
}

#main-contents-2nd {
  padding-bottom: 2em;
}

#main-contents-3rd,
#main-contents-4th,
#main-contents-5th {
  padding: 6em 0;
}

#main-contents-6th {}

#main-contents-7th {
  padding: 6em 0;
}

@media screen and (max-width: 768px) {
  #main-contents-1st {}

  #main-contents-2nd {
    padding-bottom: 2em;
  }

  #main-contents-3rd,
  #main-contents-4th,
  #main-contents-5th {
    padding: 2em 0;
  }

  #main-contents-6th {}

  #main-contents-7th {
    padding: 2em 0;
  }
}

/*=========================================================
* Sub Layout
*========================================================*/
#sub-contents-container {
  padding: 6em 0 2em 0;
}

#sub-contents-container:after {
  clear: both;
}

#sub-heading-section,
#sub-heading-section2 {
  padding-bottom: 1em;
  margin-bottom: 5em;
}

#sub-board-section {
  padding-bottom: 4em;
}

#sub-page-section,
#sub-page-section-2nd,
#sub-page-section-3rd {
  padding-bottom: 4em;
}

@media (max-width:768px) {
  #sub-contents-container {
    padding: 2em 0 1em 0;
  }

  #sub-board-section {
    padding-bottom: 1em;
  }

  #sub-page-section,
  #sub-page-section-2nd,
  #sub-page-section-3rd {
    padding-bottom: 1em;
  }
}

/*=========================================================
* Main Contents
*========================================================*/
/*---------------------------------------------------------
* Index.php
* Main Contents 1st
*--------------------------------------------------------*/
#gtco-features-3 {
  position: relative;
  top: -3em;
}

@media screen and (max-width: 768px) {
  #gtco-features-3 {
    top: -2em;
  }
}

#gtco-features-3 .feature {
  float: left;
  padding: 30px;
  background: #57c3f7;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  #gtco-features-3 .feature {
    width: 100%;
  }
}

#gtco-features-3 .feature h3 {
  color: #fff;
}

#gtco-features-3 .feature p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 1.7;
}

#gtco-features-3 .feature .icon {
  position: absolute;
  right: -100px;
}

#gtco-features-3 .feature .icon i {
  font-size: 200px;
  color: rgba(255, 255, 255, 0.1)
}

#gtco-features-3 .feature.feature-1 {
  z-index: 7;
}

#gtco-features-3 .feature.feature-1 .feature-inner, #gtco-features-3 .feature.feature-2 .feature-inner, #gtco-features-3 .feature.feature-3 .feature-inner {
  position: relative;
}

#gtco-features-3 .feature.feature-2 {
  bottom: 0px;
  z-index: 10;
  background: #578bf7;
}

@media screen and (max-width: 768px) {
  #gtco-features-3 .feature.feature-2 {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

#gtco-features-3 .feature.feature-3 {
  z-index: 7;
  background: #57c3f7;
}

#gtco-features-3 .feature.feature-4 {
  z-index: 7;
  background: #578bf7;
}

/*---------------------------------------------------------
* Index.php
* Main Contents 2nd
*--------------------------------------------------------*/
/*---------------------------------------------------------
* Index.php
* Main Contents 3rd
*--------------------------------------------------------*/
.wz08g-portfolio-cover {
  position: relative;
  z-index: 2;
  background-size: cover;
  background-position: center center;
}

.wz08g-portfolio-overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 191, 255, 0.2);
  /*background: rgba(0, 0, 0, 0.2);*/
}

.wz08g-portfolio {
  position: relative;
  min-height: 500px;
}

@media screen and (max-width: 768px) {
  .wz08g-portfolio {
    padding: 3em 0;
  }
}

/*---------------------------------------------------------
* Index.php
* Main Contents 4th
*--------------------------------------------------------*/
.services {
  background: #fff;
  padding: 40px 20px 20px 20px;
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.services:hover, .services:focus, .services:active {
  -webkit-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
}

.services span {
  margin-bottom: 30px;
  display: block;
  width: 100%;
}

.services span i {
  color: #00b3f0 !important;
}

/*---------------------------------------------------------
* Index.php
* Main Contents 5th
*--------------------------------------------------------*/
.product-card-item {
  display: block;
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  z-index: 9;
  bottom: 0;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.product-card-item figure {
  overflow: hidden;
  z-index: 12;
  position: relative;
}

.product-card-item figure .overlay {
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.product-card-item figure .overlay i {
  z-index: 12;
  color: #fff;
  font-size: 30px;
  position: absolute;
  margin-left: -15px;
  margin-top: -45px;
  top: 50%;
  left: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.product-card-item img {
  z-index: 8;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.product-card-item .product-text {
  padding: 0px 10px 10px 20px;
  text-align: center;
}

.product-card-item .product-text h2, .product-card-item .product-text span {
  text-decoration: none !important;
}

.product-card-item .product-text h3 {
  margin: 10px 0;
  color: #0e9ccc;
}

.product-card-item .product-text p {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.product-card-item .product-text span.btn {
  color: #fff !important;
  opacity: 1;
  visibility: visible;
  bottom: 0;
  background: #555;
  border: 2px solid #555 !important;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.product-card-item:hover, .product-card-item:focus {
  bottom: 7px;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
}

.product-card-item:hover img, .product-card-item:focus img {
  -webkot-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.product-card-item:hover span.btn, .product-card-item:focus span.btn {
  opacity: 1;
  visibility: visible;
  bottom: 0px;
  border: 2px solid #00b3f0 !important;
  background: #00b3f0 !important;
}

.product-card-item:hover figure .overlay, .product-card-item:focus figure .overlay {
  opacity: 1;
  visibility: visible;
}

.product-card-item:hover figure .overlay i, .product-card-item:focus figure .overlay i {
  margin-top: -15px;
}

.product-card-item:hover h2, .product-card-item:hover span, .product-card-item:focus h2, .product-card-item:focus span {
  text-decoration: none !important;
}

/*---------------------------------------------------------
* Index.php
* Main Contents 6th
*--------------------------------------------------------*/
.bottomBanner-box {
  height: 200px;
  background-attachment: fixed;
  background-position: center bottom;
}

.bottomBanner-box .overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.bottomBanner-box .feature-text {
  position: relative;
  z-index: 2;
  display: table;
  width: 100%;
  height: 200px;
}

.bottomBanner-box .feature-text .feature-text-align {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.bottomBanner-box h4 {
  color: #fff;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 2.5em;
}

@media screen and (max-width: 768px) {
  .bottomBanner-box h4 {
    font-size: 2.0em;
  }
}

/*---------------------------------------------------------
* Index.php
* Main Contents 7th
*--------------------------------------------------------*/
@media screen and (max-width: 992px) {
  .customer-contact-info .feature-left .feature-copy {
    margin-bottom: 50px;
  }

  .customer-contact-info .col-md-4:nth-child(2) .feature-left .feature-copy {
    margin-bottom: 60px;
  }

  .customer-contact-info .col-md-4:nth-child(3) .feature-left .feature-copy {
    margin-bottom: 0;
  }
}

.customer-contact-info .feature-left .feature-copy {
  float: right;
  width: 100%;
}

.feature-left .feature-copy h3 {
  margin-top: 5px;
  border-bottom: 2px solid #383d41;
  padding-bottom: 5px;
}

.feature-text h3 .number {
  margin-right: 5px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

@media screen and (max-width: 768px) {
  .feature-text h3 .number {
    margin-right: 5px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
}

/*-------------------------------------------------------*/
ul.contact-info {
  list-style-type: none;
  padding-left: 0;
  margin-top: -3px;
}

ul.contact-info>li:hover {
  text-decoration: underline;
  color: #00b3f0;
}

ul.contact-info li:nth-child(1) {
  font-size: 2.0em;
  font-weight: bold;
  color: #00b3f0;
}

ul.contact-info li:nth-child(1) a {
  color: #00b3f0;
}

ul.contact-info li:nth-child(2) {
  letter-spacing: -0.3px;
}

ul.contact-info li:last-child {
  text-decoration: none;
}

.btn-point-color {
  background-color: #00b3f0 !important;
}

.btn-point-color:hover {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.btn-kakao {
  background-color: #f3d900 !important;
}

.btn-kakao:hover {
  background-color: #341c1c !important;
}

.um-kakao-talk {
  color: #341c1c !important;
}

.btn-kakao:hover .um-kakao-talk {
  color: #f3d900 !important;
}

.customer-contact-info table.board_output table.board_output td:first-child {
  width: 1% !important;
}

.customer-contact-info table.board_output table.board_output td:last-child {
  width: 29% !important;
}

@media screen and (max-width: 768px) {
  .customer-contact-info table.board_output table.board_output td:first-child {
    width: 9px !important;
  }

  .customer-contact-info table.board_output table.board_output td:last-child {
    width: 97% !important;
  }
}

/*=========================================================
* Sub Contents
*========================================================*/
/*---------------------------------------------------------
* a1.php(대표인사말1)
* a2.php(대표인사말2)
*--------------------------------------------------------*/
.text-main-emphasis {
  font-size: 1.750em;
  font-weight: border;
}

.text-sub-emphasis {
  font-size: 1.500em;
  font-weight: 700;
}

.text-deco-underline {
  text-decoration: underline;
}

.signature-lang-kr {
  font-family: "Nanum Brush Script", cursive;
  font-style: italic;
  font-size: 4em;
  color: #222;
  letter-spacing: 1.5px;
  padding-right: 20px;
  vertical-align: middle;
}

.signature-lang-en {
  font-family: "Mr Dafoe";
  font-size: 2.750em;
  color: #222;
  letter-spacing: 1.5px;
  padding-right: 20px;
  vertical-align: sub;
}

.greeting-img {
  height: 400px;
}

@media screen and (max-width: 768px) {
  .greeting-img {
    background-position: top center;
  }
}

/*-------------------------------------------------------*/
.thought {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .thought {
    margin-bottom: 50px;
  }

  #sub-page-section-3rd .col-md-4:last-child>.thought {
    margin-bottom: 0;
  }
}

.thought .icon {
  width: 90px;
  height: 90px;
  background: #efefef;
  display: table;
  text-align: center;
  margin: 0 auto 30px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.thought .icon i {
  display: table-cell;
  vertical-align: middle;
  height: 90px;
  font-size: 40px;
  line-height: 40px;
  color: #00b3f0;
}

.thought p,
.thought h3 {
  margin-bottom: 30px;
}

.thought h3 {
  font-size: 1.286em;
  color: #5d5d5d;
}

/*---------------------------------------------------------
* a3.php(연혁)
*--------------------------------------------------------*/
#mission-verse {
  background: #eee;
  position: relative;
}

#mission-verse .icon {
  position: absolute;
  font-size: 14.286em;
  top: -20px;
  color: rgba(255, 255, 255, 0.5) !important;
}

#mission-verse .mission-verse-slide {
  text-align: center;
  position: relative;
  color: #fff !important;
}

#mission-verse .mission-verse-slide blockquote {
  border: none;
  margin: 30px auto;
  width: 60%;
  position: relative;
  padding: 0;
  font-size: 1.286em;
}

#mission-verse .mission-verse-slide blockquote p {
  color: #aaa;
}

@media screen and (max-width: 768px) {
  #mission-verse .mission-verse-slide blockquote {
    width: 85%;
  }
}

/*-------------------------------------------------------*/
.history>tbody td img {
  width: 140px;
}

/*---------------------------------------------------------
* a4.php(비전)
*--------------------------------------------------------*/
.vision-flexslider {
  width: 90%;
  float: left;
  margin-right: -100%;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 400px;
  position: relative;
}

.vision-flexslider .slider-text {
  display: table;
  min-height: 400px;
  z-index: 9;
}

.slider-text-inner {
  display: table-cell;
  vertical-align: middle;
}

.slider-text-inner .desc {
  padding: 4.5em 4em;
  background: linear-gradient(to right, rgba(65, 184, 233, 0.5) 0, rgba(65, 184, 233, 1) 70%);
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.75);
}

.vision-flexslider .slider-text>.slider-text-inner span {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.750em;
  display: block;
  margin-bottom: 20px;
}

.vision-flexslider .slider-text>.slider-text-inner h2 {
  font-size: 3.750em;
  font-weight: 100;
  color: #fff;
  line-height: 1.2;
}

.vision-flexslider .slider-text>.slider-text-inner h3 {
  font-size: 2.500em;
  color: #fff;
  font-weight: 900;
}

.vision-flexslider .slider-text>.slider-text-inner p {
  color: rgba(255, 255, 255, 0.8);
}

.vision-flexslider>.col-md-offset-2 {
  margin-left: 12.5%;
}

@media screen and (max-width: 992px) {
  .vision-flexslider {
    width: 100%;
    float: none;
  }

  .vision-flexslider .slider-text {
    text-align: center;
  }

  .vision-flexslider .slider-text>.slider-text-inner .desc {
    padding: 5.6em 2em;
  }

  .vision-flexslider .slider-text>.slider-text-inner h2 {
    font-size: 3em;
  }

  .vision-flexslider .slider-text>.slider-text-inner h3 {
    font-size: 2em;
  }

  .vision-flexslider .slider-text>.slider-text-inner p {
    line-height: 1.2;
  }

  .vision-flexslider>.col-md-offset-2 {
    margin-left: 1%;
  }
}

@media screen and (max-width: 768px) {
  .vision-flexslider {
    width: 100%;
    float: none;
  }

  .vision-flexslider .slider-text {
    text-align: center;
  }

  .vision-flexslider .slider-text>.slider-text-inner .desc {
    padding: 3em 2em;
  }

  .vision-flexslider .slider-text>.slider-text-inner h2 {
    font-size: 2.500em;
  }

  .vision-flexslider .slider-text>.slider-text-inner h3 {
    font-size: 1.250em;
  }

  .vision-flexslider .slider-text>.slider-text-inner p {
    line-height: 1.2;
  }

  .vision-flexslider>.col-md-offset-2 {
    margin-left: 1%;
  }
}

/*---------------------------------------------------------
* a5.php(경영이념)
*--------------------------------------------------------*/
.philosophy {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  width: 100%;
  margin-bottom: -5em;
}

@media screen and (max-width: 768px) {
  .philosophy {
    margin-bottom: 50px;
  }

  #sub-page-section .col-md-4:last-child>.philosophy {
    margin-bottom: 0;
  }
}

.philosophy .icon {
  width: 90px;
  height: 90px;
  background: #efefef;
  display: table;
  text-align: center;
  margin: 0 auto 30px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.philosophy .icon i {
  display: table-cell;
  vertical-align: middle;
  height: 90px;
  font-size: 40px;
  line-height: 40px;
  color: #00b3f0;
}

.philosophy:hover .icon {
  background-color: #00b3f0;
}

.philosophy:hover .icon i {
  color: #fff;
}

.philosophy p, .philosophy h3 {
  margin-bottom: 30px;
}

.philosophy h3 {
  text-transform: uppercase;
  font-size: 18px;
  color: #5d5d5d;
}

/*-------------------------------------------------------*/
.wz08g-team {
  position: relative;
  background-color: #fff;
  padding: 4em 0;
  border-radius: 5px;
  margin-top: 2em;
}

@media screen and (max-width: 768px) {
  .wz08g-team {
    margin-top: 7em;
    border-right: 0;
    margin-bottom: 80px;
  }
}

.wz08g-team h2 {
  font-size: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 50px;
}

.wz08g-team figure {
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -65px;
  background-size: cover;
}

.wz08g-team figure img {
  width: 130px;
  height: 130px;
  border: 10px solid #fff;
  background-size: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.wz08g-team>div {
  padding: 30px 30px 0 30px;
}

.wz08g-team>div h3 {
  margin-bottom: 0;
  font-size: 20px;
  color: #021033;
}

.wz08g-team>div .position {
  color: #d9d9d9;
  margin-bottom: 30px;
}

.wz08g-team>div, .wz08g-team blockquote {
  border: none;
  margin-bottom: 20px;
  padding-top: 30px;
}

.wz08g-team>div p, .wz08g-team blockquote p {
  font-size: 14px;
  line-height: 1.6em;
  color: #555555;
}

.wz08g-team span {
  font-style: italic;
  color: #b3b3b3;
}

/*---------------------------------------------------------
* a6.php(위치안내1)
* a7.php(위치안내2)
*--------------------------------------------------------*/
#contact-info {
  padding: 5px 20px 1px 20px;
  margin-bottom: 20px;
}

#contact-info ul li {
  list-style: none;
  margin-bottom: 10px;
  position: relative;
  padding-left: 40px;
}

#contact-info ul li i {
  position: absolute;
  left: 0;
  font-size: 1.375em;
}

#contact-info ul li h3 {
  margin-left: 30px;
}

#contact-info ul li a {
  font-weight: 400 !important;
}

#contact-pathfinding,
#contact-pathfinding2 {
  padding: 10px 20px;
  margin-bottom: 20px;
}

#contact-pathfinding dl dd,
#contact-pathfinding2 dl dd {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#contact-pathfinding dl dd:last-child,
#contact-pathfinding2 dl dd:last-child {
  border-bottom: 0;
}

#contact-pathfinding dl dd .panel,
#contact-pathfinding2 dl dd .panel {
  padding: 1px 5px 2px 5px;
}

#map {
  width: 100%;
  height: 700px;
  position: relative;
}

@media screen and (max-width: 768px) {
  #map {
    height: 400px;
  }
}

/*---------------------------------------------------------
* b1.php(사업분야1)
*--------------------------------------------------------*/
.feature-text-outline {
  border: 1px solid #eee;
  padding: 20px;
  margin-right: 15px;
  width: 32%;
}

.feature-text-outline dvi:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .feature-text-outline {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .feature-text-outline dvi:last-child {
    margin-bottom: 0;
  }
}

/*---------------------------------------------------------
* b2.php(사업분야2)
*--------------------------------------------------------*/
.business-choice {
  position: relative;
  padding: 1px 20px 20px 20px;
}

@media screen and (max-width: 768px) {
  .business-choice {
    margin-bottom: 10px;
  }
}

.business-choice h2 {
  color: #fff;
}

.business-choice>h2:after {
  position: absolute;
  content: '';
  left: 0;
  top: 60px;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.business-choice p {
  color: #fff;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
}

.choice1 {
  background-color: rgba(85, 85, 85, 1);
}

.choice2 {
  background-color: rgba(85, 85, 85, 0.4);
}

.choice3 {
  background-color: rgba(85, 85, 85, 0.6);
}

.choice4 {
  background-color: rgba(85, 85, 85, 0.8);
}

/*---------------------------------------------------------
* b3.php(사업분야상세1)
*--------------------------------------------------------*/
.business-summary-icon {
  margin-top: 5px;
}

.business-summary-icon i {
  font-size: 4.000em;
}

.product-portfolio {
  width: 100%;
  float: left;
  margin-bottom: 40px;
}

.product-portfolio>a {
  width: 100%;
  float: left;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
}

.product-portfolio>a:hover {
  webkit-box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
}

.product-portfolio>a:hover .desc {
  opacity: 1;
}

.product-portfolio .portfolio-entry {
  width: 100%;
  float: left;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
}

@media screen and (max-width: 768px) {
  .product-portfolio .portfolio-entry {
    height: 400px;
  }
}

.product-portfolio .portfolio-entry .desc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.95);
  opacity: 0;
  padding: 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.product-portfolio .portfolio-entry .desc p {
  color: #8f989f;
}

.product-portfolio .portfolio-text {
  width: 100%;
  float: left;
  padding: 20px;
}

.product-portfolio .portfolio-text h3 {
  font-size: 20px;
}

.product-portfolio .portfolio-text .stuff {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 20px;
}

.product-portfolio .portfolio-text .stuff li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
}

.product-portfolio .portfolio-text .stuff li:first-child {
  margin-left: 0;
}

.product-portfolio .portfolio-text .stuff li i {
  font-size: 14px;
  padding-right: 5px;
}

.table-title-top thead th, .table-title-top tbody td {
  text-align: center !important;
}

/*---------------------------------------------------------
* b4.php(사업분야상세2)
*--------------------------------------------------------*/
#product-portfolio>.row {
  border-bottom: 1px solid #eee;
}

#product-portfolio>.row.last {
  border-bottom: none !important;
}

.heading-with-border {
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}

.heading-with-border .heading-border {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #28bbf8;
  height: 2px;
  width: 30px;
}

.spacer {
  clear: both;
  position: relative;
  border: none;
  margin: 0;
}